*
{
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono:ital@1&family=Roboto+Slab&display=swap');
/* Nav Bar*/
#menu ul
{
    list-style: none;
}
h1
{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
}
#menu ul li
{
    background-color: #111111;
    border: 1.5px solid whitesmoke;
    width: 302.2px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
}
#menu ul li a
{
    text-decoration: none;
    color: #fff;
    display: block;
}
#menu ul li a:hover
{
    background-color: #575656;
}
#menu ul ul
{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 0.5s;
    top: -600%;
}
#menu ul li:hover > ul
{
    visibility: visible;
    top: 100%;
}

.menu-header
{
    display: none;
}

/* Loader */

#loader
{
    display: none;
}

#preloader
{
    border: 0px solid red;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
}

#preloader img
{
    width: 600px;
}

/*Search Bar*/

.nav-middle .mic-icon
{
    width: 17px;
}
.nav-middle .search-box
{
    border: 0px solid red;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}
.nav-middle .search-box input
{
    border: 0px solid red;
    width: 550px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img
{
    border: 0px solid red;
    width: 17px;
    border-left: 0px solid green;
    height: 17px;
    position: absolute;
    margin-left: 520px;
}

.nav-middle .search-box  .line
{
    border: 0px solid red;
    margin-left: 530px;
    height: 45px;
}
.flex-div
{
    display: flex;
    align-items: center;
}





@media (max-width: 767px)
{
    ul
    {
        display: table;
        width: 100%;
    }
    ul li
    {
        text-align: left;
    }
    .dropdown, .dropdown2
    {
        position: relative;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
    }
    
    .display
    {
        display: block;
    }
    .dropdown li:hover .dropdown2
    {
    left: 0;
    }
    .menu-content
    {
        display: none;
    }
    .menu-header
    {
        display: block;
        background-color: black;
        text-align: right;
        padding: 10px;
    }
    .fa-bars
    {
        color: white;
        border: 2px solid white;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .top_cat
{
    border: 0px solid blue;
    display: table;
}

.top_cat_product
{
    border: 0px solid red;
    width: 372px;
    height: 340px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

#loader
{
    display: none;
}

/* Loader */
#preloader
{
    border: 0px solid red;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 600px;
}

#preloader img
{
    width: 600px;
    align-items: center;
}

/* search Bar */
.nav-middle .search-box
{
    border: 2px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.nav-middle .search-box  .line
{
    border: 0px solid red;
    margin-left: 255px;
    height: 45px;
}  
}


